.container {
  margin: auto;
  max-width: 70%;
  font-family: sans-serif;
  padding-top: 3em;
}

.nav-container {
    display: flex;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(55, 55, 55);
    color: white;
}

.nav-links {
display: flex;
list-style: none;
padding-left: 10%;
}

.nav-link-item {
padding-right: 2rem;
}

.nav-link-text {
color: white;
}

a:visited {
    color:white;
}

.site-title {
font-size: 3rem;
color: gray;
font-weight: 700;
}